{
  "extends": "timkurvers/react",
  "rules": {
    "new-cap": [0],
    "no-param-reassign": [0],
    "no-cond-assign": [0],
    "no-loop-func": [0],

    // Allow vertically aligning values
    "no-multi-spaces": [0],

    // See: https://github.com/yannickcr/eslint-plugin-react/issues/128
    "react/sort-comp": [0]
  }
}
